body {
  background: linear-gradient(to bottom, white, #7b7b7b, white);
}
h1 {
  font-weight : bold;
  text-align : center;
  font-size : 50px;
  font-family: Sans-Serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

#raven-logo {
  margin-top: -10px;
  display: inline;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 350px;
}
#raven-logo2 {
  margin-top: -115px;
  display: inline;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 825px;
}

#content {
  background-color: #f1f1f1;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.content-stuff {
  margin-right: 10px;
  margin-left: 2px;
  text-decoration: none;
}

/* Body */
#articles {
  margin-top: -2px;
}

h2 {
  text-align : center;
  font-size : 35px;
}

.paragraph {
  font-size: 18px;
  font-family: impact, serif;
}

#pictures {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.article-headers {
  margin-bottom: 23px;
}

#audio1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

#video1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: -98px;
}

hr {
  width: 300px
  height: 1px;
  z-index: 11;
}
/* form */
#your-view {
  padding-top: 25px;
  padding-bottom: 60px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -8px;
  background-color: #2b2b2b00;
  margin-top: -7px;
}

.form-stuff {
}

button {
  border-radius: 5px;
  background-color: gray;
  transition: background-color 0.5s;
}
button:hover {
  background-color: lightgray;
}
/* footer */
#spirit-logo {
  margin-top: -15px;
  display: inline;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 350px;
}
#spirit-logo2 {
  margin-top: -15px;
  display: inline;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 825px;
}
.ending {
  color: gray;
  transition: color 0.3s;
}
.ending:hover {
  color: #383838;
}
#footer {
  color: gray;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}